.movie-card {
  width: 270px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;

}

img{
  height: 200px;
  padding: 10px;
}

p{
  padding-bottom: 10px;
}

.buy-button {
  border: 2px solid #d32f2f;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.buy-button:hover {
  background-color: #d32f2f;
  color: #fff;
  cursor: pointer;
}

