<div class="header">
  <div class="logo-and-nav">
    <div class="theater-theme">
      <div class="curtains"></div>
      <div class="spotlight"></div>
      <div class="reel"></div>
    </div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/main">Home</a></li>
        <li><a [routerLink]="['/corporate/main/movies']">Manage Movies</a></li>
        <li><a [routerLink]="['/corporate/main/users']">Manage Customers</a></li>
        <li><a [routerLink]="['/corporate/main/bookings']">Manage Bookings</a></li>
      </ul>
    </nav>
  </div>
</div>
